.Habilidades{
    display: grid;
    place-content: center;
}
.container_habilidad_row{
    display: flex;
    place-content: center;
    justify-content: space-between;
}
.container_habilidad_col{
  width: 50%;
  /* position: relative; */
  /* border-radius: 3px; */
  /* width: 90%; */
  padding: 25px;
  max-width: 960px;
  overflow-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px auto 30px;
  top: 20px;
  box-shadow: 0px 0px 0px 0px, rgba(0, 0, 0, 0.4) 0px 6px 12px;
  border-radius: 25px;
  margin-right: 20px;
}
#skillLengua { 
    list-style: none;
    margin: -40px auto 0;
    position: relative;
    line-height: 2em;
    padding: 30px 0;
    width: 250px;
  }
   
  #skillLengua li { 
    margin-bottom:50px; 
    background:#e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
    height:20px; 
    border-radius:10px; 
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
  }
   
  #skillLengua li h3 { 
    position:relative; 
    top:-25px;
  }
   
  .bar { 
    height:18px; 
    margin:1px 2px;  
    position:absolute;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  }
   
  .hablaEspañol {
    width:100%; 
    animation:hablaEspañol 2s ease-out;
    -webkit-animation:hablaEspañol 2s ease-out;
    background: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
  }
   
  .escuchaEspañol {
    width:100%;
    animation:escuchaEspañol 2s ease-out;
    -webkit-animation:escuchaEspañol 2s ease-out;
    background: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
  }
   
  .escrituraEspañol {
    width:100%;
    animation:escrituraEspañol 2s ease-out;
    -webkit-animation:escrituraEspañol 2s ease-out;
    background: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
  }
  
  @keyframes hablaEspañol {0%  { width:0px;} 100%{ width:100%;}  }
  @keyframes escuchaEspañol        { 0%  { width:0px;} 100%{ width:100%;}  }
  @keyframes escrituraEspañol      { 0%  { width:0px;} 100%{ width:100%;}  }
  
  @keyframes html-hablaEspañol       { 0%  { width:0px;} 100%{ width:100%;}  }
  @keyframes escuchaEspañol        { 0%  { width:0px;} 100%{ width:100%;}  }
  @keyframes escrituraEspañol      { 0%  { width:0px;} 100%{ width:100%;}  }
  
  
  .hablaIngles {
    width:50%;
    animation:hablaIngles 2s ease-out;
    -webkit-animation:hablaIngles 2s ease-out;
    background: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
  }
  
  .escuchaIngles {
    width:30%;
    animation:escuchaIngles 2s ease-out;
    -webkit-animation:escuchaIngles 2s ease-out;
    background: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
  }
  
  .escrituraIngles {
    width:20%;
    animation:escrituraIngles 2s ease-out;
    -webkit-animation:escrituraIngles 2s ease-out;
    background: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
    background-image: var(--color-boton);
  }
  
  @keyframes hablaIngles {0%  { width:0px;} 100%{ width:50%;}  }
  @keyframes escuchaIngles        { 0%  { width:0px;} 100%{ width:30%;}  }
  @keyframes escrituraIngles      { 0%  { width:0px;} 100%{ width:20%;}  }
  
  @keyframes hablaIngles       { 0%  { width:0px;} 100%{ width:50%;}  }
  @keyframes escuchaIngles        { 0%  { width:0px;} 100%{ width:30%;}  }
  @keyframes escrituraIngles      { 0%  { width:0px;} 100%{ width:20%;}  }


  #skillsoft li { 
    list-style: none;
    width: 250px; 
}