.container_info_row{
    display: flex;
    margin: 50px;
}

.container_mi_col{
    display: grid;
    width: 60%;
}
.vl{
    border-left: 6px solid black;
    height: 155%;
    position: absolute;
    left: 50%;
    /* margin-left: -3px; */
    top: 55%;
}